.filter-btn {
	margin: 6px 12px;
}

.panel-input-text {
	margin: 12px;
	width: 90%;
}

.dicision-btn {
	margin-left: 4%;
	margin-right: 4%;
}

.panel-selection {
	margin: 12px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.header {
	height: 120px;
}

#web-name, #resume {
	margin-top: 80px;
}

.thumbnail {
	max-width: 200px;
	max-height: 200px;
	margin: 20px auto;
}

.thumbnail:hover {
    box-shadow: 4px 4px 10px #888888;
}

.photo-space {
	height: 200px;
}

#image-selection {
	margin-top: 20px;
	margin-bottom: 20px;
}

.gallery {
	height: 480px;
}

#no-photo-sign {
	height: 480px;
	padding-top: 200px;
  	border: 1px solid #fbeed5;
}