.filter-btn {
	margin: 6px 12px;
}

.panel-input-text {
	margin: 12px;
	width: 90%;
}

.dicision-btn {
	margin-left: 4%;
	margin-right: 4%;
}

.panel-selection {
	margin: 12px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.header {
	height: 120px;
}

#web-name, #resume {
	margin-top: 80px;
}

.thumbnail {
	height: 200px;
	margin: 20px auto;
	img {
		border-top: 8px solid $yellow; 
		@include border-radius(6px);
	}
	img:hover {
		@include box-shadow(rgba(gray, 0.5) 4px 8px 8px);
	}

	@media #{$small-only} { 
		width: 80%;
		margin: 40px auto;
	}
}

#image-selection {
	margin-top: 20px;
	margin-bottom: 20px;
}